*{
  margin: 0 auto;
  padding: 0;
}

.navBar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(13, 15, 26);
  color: white;
  padding-top: 2rem;
  text-align: center;
  align-items: baseline;
  padding-bottom: .5rem;
}

li{
  list-style: none;
}

ul{
  display: flex;
  gap: 20px;
}

#navSearchBar{
  width: 80%;
}

.searchBarDiv{
  width: 60%
}
.shoppingList{
  color: white;
  background-color: rgb(40, 46, 78)
}

#dealimg{
  height: 25rem
}

#dealImgContainer{
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
}

#saleDisplayContainer{
  display: flex;
}
#saleProduct1{
  height: 20rem;
}

#saleProduct2{
  height: 20rem;
}

#saleProduct1Container{
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px black;
  background-color: rgb(255, 255, 255);
  width: 30%
}

#saleProduct2Container{
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px black;
  background-color: rgb(255, 255, 255);
  width: 30%
}

.dealClickedContainer{
  display: flex;
  padding-top: 1%;
  width: 50%;
  gap: 100px;
}
#shirt2DealClick{
  height: 30rem;
  width: 30rem;
}


#product2p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  padding-right: 5%;
}

#product2middleSide{
  display: flex;
  text-align: center;
}

.product2p{
  font-size: 2rem;
  text-align: center;
  justify-items: center;
}
.limited{
  text-decoration: underline;
  color: rgba(190, 10, 10, 0.829)
}
.product2rightsideP{
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.addToCartBtn{
  height: 1.5rem;
  width: 10rem;
  border-radius: 15px;
}

.addToCartBtn:hover{
  background-color:rgb(40, 46, 78) ;
  color: white;
}

#product2Description{
  font-size: 1.5rem;
  width: 100%
}

.dropdown-cart{
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}